--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
pandas==2.2.2
numpy==1.26.4
huggingface_hub==0.24.6
transformers==4.44.2
einops==0.8.0
oandapyV20==0.7.2
python-telegram-bot==21.7
APScheduler==3.10.4
structlog==24.4.0
python-dotenv==1.0.1
